In [62]:
import kagglehub
import pandas as pd
import os
import pyGMs as gm
import numpy as np

In [63]:
# Download latest version
path = kagglehub.dataset_download("drgilermo/nba-players-stats")
print("Path to dataset files:", path)

Path to dataset files: C:\Users\chawk\.cache\kagglehub\datasets\drgilermo\nba-players-stats\versions\2

In [64]:
df = pd.read_csv(os.path.join(path, "Seasons_Stats.csv"), encoding='latin1')

## Data Visualization and Cleaning

In [65]:
df.head(10)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
5,5,1950.0,Ed Bartels,F,24.0,NYK,2.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,0.0,NaN,NaN,NaN,2.0,4.0
6,6,1950.0,Ralph Beard,G,22.0,INO,60.0,NaN,NaN,NaN,...,0.762,NaN,NaN,NaN,233.0,NaN,NaN,NaN,132.0,895.0
7,7,1950.0,Gene Berce,G-F,23.0,TRI,3.0,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,2.0,NaN,NaN,NaN,6.0,10.0
8,8,1950.0,Charlie Black,F-C,28.0,TOT,65.0,NaN,NaN,NaN,...,0.651,NaN,NaN,NaN,163.0,NaN,NaN,NaN,273.0,661.0
9,9,1950.0,Charlie Black,F-C,28.0,FTW,36.0,NaN,NaN,NaN,...,0.632,NaN,NaN,NaN,75.0,NaN,NaN,NaN,140.0,382.0

In [66]:
df['Player'] = df['Player'].str.replace('*', '', regex=False)
df = df.drop(columns=["Unnamed: 0"])
df = df.drop(columns=["blanl", "blank2"])
df = df[df['Year'].notna()]
df['Year'] = df['Year'].astype(int)

In [67]:
df.head(10)

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
5,1950,Ed Bartels,F,24.0,NYK,2.0,NaN,NaN,NaN,0.376,...,0.667,NaN,NaN,NaN,0.0,NaN,NaN,NaN,2.0,4.0
6,1950,Ralph Beard,G,22.0,INO,60.0,NaN,NaN,NaN,0.422,...,0.762,NaN,NaN,NaN,233.0,NaN,NaN,NaN,132.0,895.0
7,1950,Gene Berce,G-F,23.0,TRI,3.0,NaN,NaN,NaN,0.275,...,0.000,NaN,NaN,NaN,2.0,NaN,NaN,NaN,6.0,10.0
8,1950,Charlie Black,F-C,28.0,TOT,65.0,NaN,NaN,NaN,0.346,...,0.651,NaN,NaN,NaN,163.0,NaN,NaN,NaN,273.0,661.0
9,1950,Charlie Black,F-C,28.0,FTW,36.0,NaN,NaN,NaN,0.362,...,0.632,NaN,NaN,NaN,75.0,NaN,NaN,NaN,140.0,382.0

In [68]:
nan_count = np.sum(df.isnull(), axis=0)
print(nan_count)

Year         0
Player       0
Pos          0
Age          8
Tm           0
G            0
GS        6391
MP         486
PER        523
TS%         86
3PAr      5785
FTr         99
ORB%      3832
DRB%      3832
TRB%      3053
AST%      2069
STL%      3832
BLK%      3832
TOV%      5042
USG%      4984
OWS         39
DWS         39
WS          39
WS/48      523
OBPM      3827
DBPM      3827
BPM       3827
VORP      3827
FG           0
FGA          0
FG%         99
3P        5697
3PA       5697
3P%       9208
2P           0
2PA          0
2P%        128
eFG%        99
FT           0
FTA          0
FT%        858
ORB       3827
DRB       3827
TRB        312
AST          0
STL       3827
BLK       3827
TOV       4979
PF           0
PTS          0
dtype: int64

## Label Creation and Training Data

In [49]:
mvp_winners = {
    1955: "Bob Pettit",
    1956: "Bob Cousy",
    1957: "Bill Russell",
    1958: "Bob Pettit",
    1959: "Wilt Chamberlain",
    1960: "Bill Russell",
    1961: "Bill Russell",
    1962: "Bill Russell",
    1963: "Oscar Robertson",
    1964: "Bill Russell",
    1965: "Wilt Chamberlain",
    1966: "Wilt Chamberlain",
    1967: "Wilt Chamberlain",
    1968: "Wes Unseld",
    1969: "Willis Reed",
    1970: "Kareem Abdul-Jabbar",
    1971: "Kareem Abdul-Jabbar",
    1972: "Dave Cowens",
    1973: "Kareem Abdul-Jabbar",
    1974: "Bob McAdoo",
    1975: "Kareem Abdul-Jabbar",
    1976: "Kareem Abdul-Jabbar",
    1977: "Bill Walton",
    1978: "Moses Malone",
    1979: "Kareem Abdul-Jabbar",
    1980: "Julius Erving",
    1981: "Moses Malone",
    1982: "Moses Malone",
    1983: "Larry Bird",
    1984: "Larry Bird",
    1985: "Larry Bird",
    1986: "Magic Johnson",
    1987: "Michael Jordan",
    1988: "Magic Johnson",
    1989: "Magic Johnson",
    1990: "Michael Jordan",
    1991: "Michael Jordan",
    1992: "Charles Barkley",
    1993: "Hakeem Olajuwon",
    1994: "David Robinson",
    1995: "Michael Jordan",
    1996: "Karl Malone",
    1997: "Michael Jordan",
    1998: "Karl Malone",
    1999: "Shaquille O'Neal",
    2000: "Allen Iverson",
    2001: "Tim Duncan",
    2002: "Tim Duncan",
    2003: "Kevin Garnett",
    2004: "Steve Nash",
    2005: "Steve Nash",
    2006: "Dirk Nowitzki",
    2007: "Kobe Bryant",
    2008: "LeBron James",
    2009: "LeBron James",
    2010: "Derrick Rose",
    2011: "LeBron James",
    2012: "LeBron James",
    2013: "Kevin Durant",
    2014: "Stephen Curry",
    2015: "Stephen Curry",
    2016: "Russell Westbrook",
    2017: "James Harden"
}

In [50]:
import random
random.seed(42)

years = list(mvp_winners.keys())
random.shuffle(years)
split_index = int(0.8 * len(years))
train_years = years[:split_index]
test_years = years[split_index:]

train_mvp_winners = {year: mvp_winners[year] for year in train_years}
test_mvp_winners = {year: mvp_winners[year] for year in test_years}

In [51]:
print(train_mvp_winners)
print(test_mvp_winners)

{1991: 'Michael Jordan', 1976: 'Kareem Abdul-Jabbar', 1996: 'Karl Malone', 1988: 'Magic Johnson', 1974: 'Bob McAdoo', 2017: 'James Harden', 2012: 'LeBron James', 2006: 'Dirk Nowitzki', 1994: 'David Robinson', 1985: 'Larry Bird', 2016: 'Russell Westbrook', 1986: 'Magic Johnson', 1973: 'Kareem Abdul-Jabbar', 1978: 'Moses Malone', 1964: 'Bill Russell', 1971: 'Kareem Abdul-Jabbar', 1966: 'Wilt Chamberlain', 1975: 'Kareem Abdul-Jabbar', 2003: 'Kevin Garnett', 2001: 'Tim Duncan', 1958: 'Bob Pettit', 1984: 'Larry Bird', 2008: 'LeBron James', 1959: 'Wilt Chamberlain', 2010: 'Derrick Rose', 1965: 'Wilt Chamberlain', 2007: 'Kobe Bryant', 1977: 'Bill Walton', 1999: "Shaquille O'Neal", 1980: 'Julius Erving', 1979: 'Kareem Abdul-Jabbar', 1955: 'Bob Pettit', 2013: 'Kevin Durant', 1983: 'Larry Bird', 1997: 'Michael Jordan', 1981: 'Moses Malone', 2005: 'Steve Nash', 1967: 'Wilt Chamberlain', 1990: 'Michael Jordan', 2000: 'Allen Iverson', 1993: 'Hakeem Olajuwon', 1987: 'Michael Jordan', 2011: 'LeBron James', 1968: 'Wes Unseld', 2004: 'Steve Nash', 2015: 'Stephen Curry', 1957: 'Bill Russell', 1982: 'Moses Malone', 1992: 'Charles Barkley', 1960: 'Bill Russell'}
{1989: 'Magic Johnson', 2009: 'LeBron James', 1998: 'Karl Malone', 1961: 'Bill Russell', 2014: 'Stephen Curry', 1963: 'Oscar Robertson', 1969: 'Willis Reed', 1970: 'Kareem Abdul-Jabbar', 1972: 'Dave Cowens', 2002: 'Tim Duncan', 1956: 'Bob Cousy', 1962: 'Bill Russell', 1995: 'Michael Jordan'}

In [52]:
df['Won_MVP'] = df.apply(lambda row: row['Player'] == mvp_winners.get(row['Year']), axis=1)
df.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Won_MVP
0,1950,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0,False
1,1950,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0,False
2,1950,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0,False
3,1950,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0,False
4,1950,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0,False

In [53]:
print(df[df['Won_MVP'] == True])

       Year             Player Pos   Age   Tm     G    GS      MP   PER  \
987    1955         Bob Pettit  PF  22.0  MLH  72.0   NaN  2659.0  24.4
1039   1956          Bob Cousy  PG  27.0  BOS  72.0   NaN  2767.0  20.2
1212   1957       Bill Russell   C  22.0  BOS  48.0   NaN  1695.0  20.9
1313   1958         Bob Pettit  PF  25.0  STL  70.0   NaN  2528.0  26.3
1554   1960       Bill Russell   C  25.0  BOS  74.0   NaN  3146.0  20.1
...     ...                ...  ..   ...  ...   ...   ...     ...   ...
21827  2013       Kevin Durant  SF  24.0  OKC  81.0  81.0  3119.0  28.3
22402  2014      Stephen Curry  PG  25.0  GSW  78.0  78.0  2846.0  24.1
23000  2015      Stephen Curry  PG  26.0  GSW  80.0  80.0  2613.0  28.0
24070  2016  Russell Westbrook  PG  27.0  OKC  80.0  80.0  2750.0  27.6
24306  2017       James Harden  PG  27.0  HOU  81.0  81.0  2947.0  27.3

         TS%  ...    ORB    DRB     TRB    AST    STL    BLK    TOV     PF  \
987    0.480  ...    NaN    NaN   994.0  229.0    NaN    NaN    NaN  258.0
1039   0.461  ...    NaN    NaN   492.0  642.0    NaN    NaN    NaN  206.0
1212   0.450  ...    NaN    NaN   943.0   88.0    NaN    NaN    NaN  143.0
1313   0.492  ...    NaN    NaN  1216.0  157.0    NaN    NaN    NaN  222.0
1554   0.496  ...    NaN    NaN  1778.0  277.0    NaN    NaN    NaN  210.0
...      ...  ...    ...    ...     ...    ...    ...    ...    ...    ...
21827  0.647  ...   46.0  594.0   640.0  374.0  116.0  105.0  280.0  143.0
22402  0.610  ...   46.0  288.0   334.0  666.0  128.0   14.0  294.0  194.0
23000  0.638  ...   56.0  285.0   341.0  619.0  163.0   16.0  249.0  158.0
24070  0.554  ...  145.0  481.0   626.0  834.0  163.0   20.0  342.0  200.0
24306  0.613  ...   95.0  564.0   659.0  906.0  120.0   37.0  464.0  215.0

          PTS  Won_MVP
987    1466.0     True
1039   1356.0     True
1212    706.0     True
1313   1719.0     True
1554   1350.0     True
...       ...      ...
21827  2280.0     True
22402  1873.0     True
23000  1900.0     True
24070  1878.0     True
24306  2356.0     True

[63 rows x 51 columns]